<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO"/>
 		<typeAlias type="com.sist.vo.ChefVO" alias="ChefVO"/>
 		<typeAlias type="com.sist.vo.RecipeDetailVO" alias="RecipeDetailVO"/>
 		<typeAlias type="com.sist.vo.EmpVO" alias="EmpVO"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="com/sist/mapper/recipe-mapper.xml"/>
 		<mapper resource="com/sist/mapper/emp-mapper.xml"/>
 	</mappers>
 </configuration>