<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="board" class="com.sist.model.BoardModel"/>
	<bean id="member" class="com.sist.model.MemberModel"/>
	<bean id="main" class="com.sist.model.MainModel"/>
	<bean id="food" class="com.sist.model.FoodModel"/>
	<bean id="recipe" class="com.sist.model.RecipeModel"/>
	<!-- package 단위 메모리 할당 -->
</beans>
